.header {
    padding: 65px 0;
    background: var(--main-bg);
    grid-area: header;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin-bottom: 20px;
    stroke: var(--grey-4);
    fill: var(--dark-bg);
    height: 45px;
    max-width: 110px;
}

.header__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--font-color);
    margin: 0;
}

.header-small {
    padding: 25px 0;
}

.header__burger-menu {
    position: absolute;
    top: 20px;
    left: 19px;
    display: none;
}

.header__burger-menu-icon {
    cursor: pointer;
}

.header__checkbox-icon {
    width: 25px;
    height: 25px;
    fill: var(--main-bg);
}

@media screen and (max-width: 991px) {
    .header__logo {
        justify-content: center;
    }

    .header__burger-menu {
        display: block;
    }

    .header__checkbox {
        display: none;
    }

    .header__inner {
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .header__title {
        font-size: 40px;
        line-height: 54px;
    }
}

@media screen and (max-width: 380px) {
    .header__title {
        font-size: 30px;
        line-height: 44px;
    }
}