.header {
    padding: 65px 0;
    background: var(--white);
    grid-area: header;
}

.header__logo {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 40px;
}

.header__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
    margin: 0;
}

.header-small {
    padding: 25px 0;
}

@media screen and (max-width: 991px) {
    .header__logo {
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .header__title {
        font-size: 40px;
        line-height: 54px;
    }
}

@media screen and (max-width: 380px) {
    .header__title {
        font-size: 30px;
        line-height: 44px;
    }
}