.tabs {
    &__input {
        position: absolute;
        clip: rect(0,0,0,0);
        opacity: 0;
    }

    &__scroller {
        background-color: var(--main-bg);
        border-bottom: 1px solid var(--grey-2);
        padding: 12px 28px;
    }

    &__scroller-item {
        color: var(--font-color);
        padding: 0 0 10px;
        margin: 0 20px;
        box-sizing: border-box;
        cursor: pointer;
        border-bottom: 5px solid transparent;
    }

    &__scroller-item:first-child {
        margin-left: 0;
    }

    &__scroller-item:last-child {
        margin-right: 0;
    }

    &__content {
        display: none;
        background-color: var(--light-bg);
    }
}

#all-tab:checked ~ .tabs__scroller >  .content-wrapper > .tabs__scroller-item[for="all-tab"],
#complex-tab:checked ~ .tabs__scroller > .content-wrapper > .tabs__scroller-item[for="complex-tab"],
#simple-tab:checked ~ .tabs__scroller > .content-wrapper > .tabs__scroller-item[for="simple-tab"] {
    color: var(--dark-bg);
    border-bottom: 5px solid var(--dark-bg);
}

#all-tab:checked ~ .tabs__scroller ~ .tabs__content_all,
#complex-tab:checked ~ .tabs__scroller ~ .tabs__content_complex,
#simple-tab:checked ~ .tabs__scroller ~ .tabs__content_simple {
    display: block;
}

@media screen and (max-width: 768px) {
    .tabs {
        &__scroller {
            padding: 30px 2px;
        }
    }
}

@media screen and (max-width: 380px) {
    .tabs {
        &__scroller-item {
            margin: 0 8px;
        }
    }
}