.button {
    width: 182px;
    height: 48px;
    border-radius: 8px;
    text-align: center;
    padding: 15px 14px;
    box-sizing: border-box;
    box-shadow: none;
    font: 500 16px/18px 'Roboto', sans-serif;
    cursor: pointer;
    transition: opacity 200ms ease-in-out;
}

.button_type_primary {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--white);
}

.button_type_primary:hover {
    background-color: var(--primary-btn-hover);
    border-color: var(--primary-btn-hover);
}

.button_type_secondary {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: var(--white);
}

.button_type_secondary:hover {
    background-color: var(--secondary-btn-hover);
    border-color: var(--secondary-btn-hover);
}

.button_type_alternate {
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    color: var(--grey-4);
}

.button_type_alternate:hover {
    border-color: var(--black);
}

.button_disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}
