.sidebar {
    width: 285px;
}

.sidebar__title {
    font-family: Inter, 'sans-serif';
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: var(--black);
}

.sidebar__link {
    font-family: Inter, 'sans-serif';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: var(--black);
    text-decoration: none;
}

.sidebar__link:hover {
    color: var(--notificaiton);
}

.sidebar__menu {
    margin-top: 16px;
    margin-bottom: 26px;
}

.sidebar__menu-item {
    font-family: Inter, 'sans-serif';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 4px;
}

.sidebar__menu-item_active .sidebar__link {
    color: var(--notificaiton);
}