.accordion__item {
    display: block;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 24px 32px;
    margin: 0 0 8px;
    box-sizing: border-box;
    cursor: pointer;
    font: 400 16px/24px 'Inter', sans-serif;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__summary {
    position: relative;
    display: block;
    font: 400 16px/24px 'Inter', sans-serif;
}

.accordion__summary-icon {
    position: absolute;
    top: 50%;
    right: 0;
    width: 26px;
    height: 24px;
    fill: var(--black);
    transition: transform 400ms ease-in-out;
    transform: translateY(-50%);
}

.accordion__content {
    margin: 16px 0 0;
    font: 400 16px/24px 'Inter', sans-serif;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}
