.toggler {
    display: inline-flex;
    align-items: center;
}

.toggler__point {
    position: relative;
    width: 52px;
    height: 28px;
    background-color: var(--white);
    border: 1px solid var(--grey-2);
    padding: 2px;
    box-sizing: border-box;
    border-radius: 16px;
    margin: 0 12px 0 12px;
    cursor: pointer;
}

.toggler__point:after {
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--grey-2);
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
}

.toggler__label {
    border-bottom: 1px solid transparent;
}

.toggler__input-hidden:checked ~ .toggler__point {
    background-color: var(--blue);
}

.toggler__input-hidden:checked ~ .toggler__point:after {
    background-color: var(--white);
    left: initial;
    right: 2px;
}

.toggler__input-hidden:checked:focus ~ .toggler__label,
.toggler__input-hidden:disabled:focus ~ .toggler__label {
    border: none;
}

.toggler__input-hidden:disabled ~ .toggler__point {
    background-color: var(--grey-2);
    cursor: not-allowed;
}

.toggler__input-hidden:disabled ~ .toggler__point:after {
    background-color: var(--grey-3);
}

.toggler__input-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    opacity: 0;
}

.toggler__label {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--grey-4);
}