.toggler {
    display: inline-flex;
    align-items: center;


    &__point {
        position: relative;
        width: 52px;
        height: 28px;
        background-color: var(--white);
        border: 1px solid var(--grey-2);
        padding: 2px;
        box-sizing: border-box;
        border-radius: 16px;
        margin: 0 12px 0 12px;
        cursor: pointer;
    }

    &__point:after {
        content: "";
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: var(--grey-2);
        position: absolute;
        top: 1px;
        transform: translateX(0px);
        transition: .2s linear;
    }

    &__label {
        border-bottom: 1px solid transparent;
    }

    &__input-hidden:checked ~ &__point {
        background-color: var(--blue);
    }

    &__input-hidden:checked ~ &__point:after {
        background-color: var(--white);
        transform: translateX(22px);
        transition: .2s linear;
    }

    &__input-hidden:checked:focus ~ &__label,
    &__input-hidden:disabled:focus ~ &__label {
        border: none;
    }

    &__input-hidden:disabled ~ &__point {
        background-color: var(--grey-2);
        cursor: not-allowed;
    }

    &__input-hidden:disabled ~ &__point:after {
        background-color: var(--grey-3);
    }

    &__input-hidden {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        opacity: 0;
    }

    &__label {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: var(--grey-4);
    }

}