.modal__popup {
    display: flex;
    flex-wrap: wrap;
    width: 428px;
    height: 294px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px 33px;
    box-sizing: border-box;
    background-color: var(--white);
    border-radius: 8px;
    color: var(--grey-4);
}

.modal__icon {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    fill: var(--black);
    width: 16px;
    height: 16px;
}

.modal__title {
    display: flex;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 14px;
}

.modal__content {
    font-weight: 400;
    font-size: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(196, 196, 196, .5);
}