.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(196, 196, 196, .5);

    &__popup {
        display: flex;
        flex-wrap: wrap;
        width: 428px;
        height: 294px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px 40px 33px;
        box-sizing: border-box;
        background-color: var(--white);
        border-radius: 8px;
        color: var(--grey-4);
    }

    &__icon {
        position: absolute;
        top: 12px;
        right: 12px;
        cursor: pointer;
        width: 23px;
        height: 23px;
    }

    &__title {
        display: flex;
        width: 100%;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 16px;
        margin: 0 0 14px;
    }

    &__content {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }
}