.radio-wrapper {
    display: flex;
    gap: 20px;
}

.radio-btn {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--grey-4);
}

.radio-btn__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background-color: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
}

.radio-btn__input {
    position: absolute;
    clip: rect(0,0,0,0);
    opacity: 0;
}

.radio-btn__input:focus ~ .radio-btn__item {
    border: 2px solid var(--blue);
}

.radio-btn__input:focus ~ .radio-btn__label {
    border-bottom: 2px solid var(--blue);
}

.radio-btn__input:checked ~ .radio-btn__item {
    border: 2px solid var(--blue);
}

.radio-btn__input:checked ~ .radio-btn__item:after {
    content: "";
    width: 18px;
    height: 18px;
    background-color: var(--blue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.radio-btn__input:checked:focus ~ .radio-btn__label {
    border: none;
}

.radio-btn__input:disabled ~ .radio-btn__item {
    background-color: var(--grey-2);
    color: var(--grey-2);
    border: none;
    cursor: not-allowed;
}

.radio-btn__input:disabled ~ .radio-btn__label {
    color: var(--grey-2);
}

.radio-btn__input:disabled:focus ~ .radio-btn__label {
    border: none;
}

.radio-btn__input:disabled ~ .radio-btn__item:after {
    display: none;
}