.checkbox-wrapper {
    display: flex;
    gap: 20px;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--grey-4);
}

.checkbox__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background-color: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.checkbox__input {
    position: absolute;
    clip: rect(0,0,0,0);
    opacity: 0;
}

.checkbox__input:focus ~.checkbox__item {
    border: 1px solid var(--blue);
}

.checkbox__input:checked ~ .checkbox__item {
    background-color: var(--blue);
    border: 1px solid var(--blue);
}

.checkbox__input:disabled ~.checkbox__item {
    color: var(--grey-2);
    cursor: not-allowed;
    background-color: var(--grey-2);
    border: 1px solid var(--grey-2);
}

.checkbox__input:disabled ~.checkbox__item > .checkbox__icon {
    display: none;
}

.checkbox__input:disabled:focus ~.checkbox__label {
    border: none;
}