.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 200ms ease-in-out;

    &__close {
        padding: 16px 12px;
    }

    &__icon-circle {
        height: 32px;
        width: 32px;
        background: var(--grey-2);
        box-sizing: border-box;
        border-radius: 14px;
        position: relative;
        cursor: pointer;
    }

    &__icon-close {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__list {
        display: flex;
        flex-direction: column;
        height: 100%;
        background: var(--burger);
        padding: 24px 16px;
    }

    &__title {
        margin: 0;
        font-size: 20px;
        line-height: 26px;
        color: var(--grey-3);
    }

    &__items {
        margin: 0;
        padding: 0 0;
    }

    &__item {
        list-style-type: none;
        font-size: 14px;
        line-height: 22px;
        margin-top: 16px;
    }

    &__item-link {
        text-decoration: none;
        color: var(--black);
    }

    &__item-link:hover {
        color: var(--notificaiton);
    }

    &_item:last-child {
        padding-top: 72px;
    }
}

.burger-menu[data-open] {
    transform: none;
}

@media screen and (max-width: 991px) {
    .burger-menu {
        display: block;
    }
}