.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 200ms ease-in-out;
}

.burger-menu[data-open] {
    transform: none;
}

.burger-menu__close {
    padding: 16px 12px;
}

.burger-menu__icon-circle {
    height: 32px;
    width: 32px;
    background: var(--grey-2);
    box-sizing: border-box;
    border-radius: 14px;
    position: relative;
    cursor: pointer;
}

.burger-menu__icon-close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burger-menu__list {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--burger);
    padding: 24px 16px;
}

.burger-menu__title {
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-3);
}

.burger-menu__items {
    margin: 0;
    padding: 0 0;
}

.burger-menu__item {
    list-style-type: none;
    font-size: 14px;
    line-height: 22px;
    margin-top: 16px;
}

.burger-menu__item-link {
    text-decoration: none;
    color: var(--black);
}

.burger-menu__item-link:hover {
    color: var(--notificaiton);
}

.burger-menu__item:last-child {
    padding-top: 72px;
}

@media screen and (max-width: 991px) {
    .burger-menu {
        display: block;
    }
}