.preview {
    padding-top: 68px;
    padding-bottom: 204px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(2, 375px);
    row-gap: 30px;
    column-gap: 30px;

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        box-shadow: 0 2px 4px rgb(33 36 41 / 5%);
        border-radius: 0.75rem;
        background: var(--main-bg);
    }

    &__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        color: var(--font-color);
        margin-bottom: 25px;
        position: absolute;
        bottom: 0;
        text-decoration: none;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    &__content_custom {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
}



@media screen and (max-width: 1280px) {
    .preview {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}


@media screen and (max-width: 1024px) {
    .preview {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}


@media screen and (max-width: 600px) {
    .preview {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 480px) {
    .preview {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        row-gap: 20px;
        column-gap: 20px;
    }
}

@media screen and (max-width: 414px) {
    .preview {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

        &__item {
            height: 420px;
        }
    }
}